.DS_Store
.gitmodules
*.mp4


# Google Algorithms
Google\ Algorithms/Assignments/cmake-build-debug/
Google\ Algorithms/Assignments/CMakeLists.txt
Google\ Algorithms/Assignments/main.cpp


# JPMorgan
JPMorgan/Module 2/JPMC-tech-task-2-PY3/node_modules/
JPMorgan/Module 3/JPMC-tech-task-3-PY3/node_modules/
JPMorgan/Module 3/Module3.MOV
